<div *ngIf="voloSelezionato"  class="container">

  <p style="text-align: center;">
    <img [src]="voloSelezionato.logo" alt="Logo" width="300">
  </p>

          <div class="flight-card">

                <p><strong style="color: blue;">Numero volo : </strong><br>{{voloSelezionato.numeroVolo}} </p>

                <p><strong style="color: blue;">Departure:</strong><br> {{voloSelezionato.partenza}}</p>

                <p><strong style="color: blue;">Arrival: </strong><br>{{voloSelezionato.destinazione}}</p>

                <p><strong style="color: blue;">Flight Date:</strong><br>{{voloSelezionato.dataVolo}}</p>

                <p><strong style="color: blue;">Check in:</strong><br>{{voloSelezionato.checkIn}}</p>

                <p><strong style="color: blue;">Gate:</strong><br> {{voloSelezionato.gate}}</p>

              <div class="status-container">
                <strong style="color: blue;">Status:</strong> {{voloSelezionato.status}}
                <span [ngClass]="{
                  'status-dot-red': voloSelezionato.status === 'Gate Closing',
                  'status-dot-green': voloSelezionato.status === 'Boarding'
                }"></span>


              </div>
              <div class="buttons">
                <p-button
                        icon="pi pi-whatsapp"
                        class="btn-info "
                        (click)="whatsAppLink(voloSelezionato.telefono, voloSelezionato.numeroVolo)">
                </p-button>
                <p-button
                icon="pi pi-info-circle"
                class="btn-whatsapp "
                (click)="enablePushNotifications()"
                severity="help"
                >
                </p-button>
                </div>
          </div>
</div>
