<div *ngIf="voloSelezionato"  class="container">
  <div>
    <p-card>
      <ng-template #header>
        <p style="text-align: center;font-size: 20px;">
          <strong>Numero volo : </strong>{{numeroVolo}}
        </p>
        <p style="text-align: center;">
          <img [src]="voloSelezionato.logo" alt="Logo" width="300">
        </p>
      </ng-template>
      <p style="text-align: center;">Departure: {{voloSelezionato.partenza}}</p>
      <ng-template #subtitle>
        <p style="text-align: center;">Arrival: {{voloSelezionato.destinazione}}</p>
      </ng-template>
      <ng-template #subtitle>
        <p style="text-align: center;">{{voloSelezionato.checkIn}}</p>
      </ng-template>
      <p style="text-align: center;">
        <strong>Gate:</strong> {{voloSelezionato.gate}}
      </p>

      <div class="status-container">
        <strong>Status:</strong> {{voloSelezionato.status}}
        <span [ngClass]="{
          'status-dot-red': voloSelezionato.status === 'Gate Closing',
          'status-dot-green': voloSelezionato.status === 'Boarding'
        }"></span>


      </div>
        <p-button
                icon="pi pi-whatsapp"
                class="btn-whatsapp "
                (click)="whatsAppLink(voloSelezionato.telefono, voloSelezionato.numeroVolo)">
        </p-button>


    </p-card>
  </div>
</div>
