.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
}


.status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}




.status-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-dot-red,
.status-dot-green {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: blink 1s infinite;
}

.status-dot-red {
  background-color: red;
}

.status-dot-green {
  background-color: green;
}


@keyframes blink {
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}
