
<p-toolbar>
  <ng-template #start>

    <p-button icon="pi pi-plus" class="mr-2" text severity="contrast" (click)="vaiAllaPagina()" />
    <p-button icon="pi pi-print" class="mr-2" text severity="contrast" />
    <p-button icon="pi pi-upload" text severity="contrast" />
  </ng-template>


  <ng-template #center>
    <div class="p-inputgroup">
      <input type="text" pInputText placeholder="Search.." [(ngModel)]="cercaVoli" (input)="filtraVoli()" />

    </div>
  </ng-template>
</p-toolbar>

<table class="custom-table">
  <thead>
    <tr>
      <th class="custom-header">Flight Number</th>
      <th class="custom-header">Carrier</th>
      <th class="custom-header">Destination</th>
      <th class="custom-header">Check-in</th>
      <th class="custom-header">Gate</th>
      <th class="custom-header">Status</th>
      <th class="custom-header"></th>
      <th class="custom-header"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let volo of voliFiltrati" class="custom-row" (click)="goToFlightDetails(volo.id)">
      <td *ngIf="!volo.isEditing">
        <strong>Volo:</strong> {{ volo.id }}
      </td>
      <td *ngIf="volo.isEditing">
        <strong>Volo:</strong>
        <input [(ngModel)]="volo.numeroVolo" class="edit-input" (click)="$event.stopPropagation()" />
      </td>

      <td *ngIf="volo.logo">
        <img [src]="volo.logo" alt="Carrier Logo" class="carrier-logo" />
      </td>

      <td *ngIf="!volo.isEditing">
        <strong>Destination:</strong> {{ volo.destinazione }}
      </td>
      <td *ngIf="volo.isEditing">
        <strong>Destination:</strong>
        <input [(ngModel)]="volo.destinazione" class="edit-input" (click)="$event.stopPropagation()" />
      </td>

      <td *ngIf="!volo.isEditing">
        <strong>Check-in:</strong> {{ volo.checkIn }}
      </td>
      <td *ngIf="volo.isEditing">
        <strong>Check-in:</strong>
        <input [(ngModel)]="volo.checkIn" class="edit-input" (click)="$event.stopPropagation()" />
      </td>

      <td *ngIf="!volo.isEditing">
        <strong>Gate:</strong> {{ volo.gate }}
      </td>
      <td *ngIf="volo.isEditing">
        <strong>Gate:</strong>
        <input [(ngModel)]="volo.gate" class="edit-input" (click)="$event.stopPropagation()" />
      </td>

      <td *ngIf="!volo.isEditing">

        <div class="status-container">
          <strong>Status:</strong>
          {{ volo.status }}
          <span [ngClass]="{
            'status-dot-red': volo.status === 'Gate Closing',
            'status-dot-green': volo.status === 'Boarding'
          }"></span>
        </div>
      </td>
      <td *ngIf="volo.isEditing">
        <strong>Status:</strong>
        <select [(ngModel)]="volo.status" class="edit-input" (click)="$event.stopPropagation()">
          <option value="Gate Closing">Gate Closing</option>
          <option value="Boarding">Boarding</option>
          <option value="On Time">On Time</option>
          <option value="Delayed">Delayed</option>
          <option value="Cancelled">Cancelled</option>
        </select>
      </td>

      <td>
        <button class="delete-btn" (click)="delete(volo); $event.stopPropagation()">Delete</button>
      </td>

      <td>
        <button class="edit-btn" *ngIf="!volo.isEditing" (click)="edit(volo); $event.stopPropagation()">Edit</button>
        <button class="save-btn" *ngIf="volo.isEditing" (click)="save(volo); $event.stopPropagation()">Save</button>
      </td>
    </tr>
  </tbody>
</table>



