


.custom-table {
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}


.custom-header {
  background-color: #007bfffc;
  padding:10px;
  color: white;
  font-weight: bold;
  text-align: left;
  table-layout: fixed;
}

.custom-row {
  background-color: #2e79ca31;
  padding: 10px;
}

.custom-row:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.carrier-logo {
  width: 100px;
}

.edit-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #cccccc61;
  border-radius: 4px;
  font-size: 14px;
  border: 2px solid;
}
.edit-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  background-color: #fff;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.delete-btn:hover {
  background-color: darkred;
  transform: scale(1.05);

}

.edit-btn {
  background-color: #ffb300;
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.edit-btn:hover {
  background-color: #e6a200;
  transform: scale(1.05);
}

.save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.save-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}


/* #region dot status */

.status-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.status-dot-red,
.status-dot-green {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: blink 1s infinite;
}

.status-dot-red {
  background-color: red;
}

.status-dot-green {
  background-color: green;
}


@keyframes blink {
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}

/* #endregion dot status */





@media (max-width: 450px) {

  .custom-table {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0;
    margin: 2px;
  }

  .custom-header {
    display: none;
  }

  .custom-row {
    background-color: #2e79ca31;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 2px;
  }
  .carrier-logo {
    width: 300px;
    padding: 30px;
    height: 100px;
  }

  .status-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }


  td {
    display: block;
    margin-top : 7px;
    font-size: 14px;
    width: 100%;
  }

  td strong {
    color: #007bff;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top: 2px;
    padding: 3px;
  }

  .edit-input {
    width: 90%;
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
  }

  .edit-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    background-color: #fff;
  }

  .delete-btn, .edit-btn, .save-btn {
    width: 50%;
    margin-top: 5x;
    padding: 7px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
  }

  .delete-btn {
    background-color: red;
  }

  .edit-btn {
    background-color: #ffb300;
    margin-bottom: 10px;
  }

  .save-btn {
    background-color: #007bff;
  }
}

@media (min-width: 451px) {

  td {
    display: table-cell;

    width: auto;
  }

  .custom-row {
    display: table-row;
  }

  td strong {
    display: none;
  }

  .custom-header {
    display: table-cell;
  }
}



