


.custom-table {
  border: 2px solid #007bff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}


.custom-header {
  background-color: #007bfffc;
  color: white;
  font-weight: bold;
  text-align: left;
  table-layout: fixed;
}

.custom-row {
  background-color: #f1f1f1;
}

.custom-row:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.carrier-logo {
  width: 80px;
}

.edit-input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}
.edit-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  background-color: #fff;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.delete-btn:hover {
  background-color: darkred;
  transform: scale(1.05);
}

.edit-btn {
  background-color: #ffb300;
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.edit-btn:hover {
  background-color: #e6a200;
  transform: scale(1.05);
}

.save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.save-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}


/* #region dot status */

.status-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status-dot-red,
.status-dot-green {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: blink 1s infinite;
}

.status-dot-red {
  background-color: red;
}

.status-dot-green {
  background-color: green;
}


@keyframes blink {
  0% { opacity: 0.4; }
  50% { opacity: 1; }
  100% { opacity: 0.4; }
}

/* #endregion dot status */


@media (max-width: 370px) {
  .custom-table {
    font-size: 10px;
    color: black;
    background-color: yellow;
  }


  .custom-header, .custom-row {
    display: block;
    width: 100%;
  }

  .custom-header {
    font-size: 10px;
  }

  .edit-input {
    width: 40%;
    padding: 8px;
    font-size: 14px;
  }

  .delete-btn, .edit-btn, .save-btn {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 5px;
  }


  .custom-row {
    padding: 8px;
  }


  .p-datatable-wrapper {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
