<div class="card-menu">
  <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle menu">

    <i class="pi" [ngClass]="{
      'pi-bars': !isMenuOpen,
      'pi-times': isMenuOpen,
      'hamburger-icon': true
    }"></i>
  </button>

  <ul class="menu" [ngClass]="{'active': isMenuOpen}">

    <li [routerLink]="['/dashboard/home']" routerLinkActive="active" (click)="closeMenu()">
      Home
    </li>
    <li [routerLink]="['/dashboard/flights']" routerLinkActive="active" (click)="closeMenu()">
      Flights
    </li>
    <li [routerLink]="['/dashboard/lastnews']" routerLinkActive="active" (click)="closeMenu()">
       Latest News
    </li>
    <li [routerLink]="['/dashboard/addflights']" routerLinkActive="active" (click)="closeMenu()">
     Add Flights
    </li>
    <li [routerLink]="['/dashboard/map']" routerLinkActive="active" (click)="closeMenu()">
      Map
    </li>
  </ul>
</div>



  <!-- Contenuto principale della pagina -->
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>



  <div class="footer">
    <div class="contain">
      <div class="col">
        <h4>Flights</h4>
        <ul>
          <li>Real time departures</li>
          <li>Real time arrivals</li>
          <li>Direct flights</li>
          <li>Book your flight</li>
        </ul>
      </div>
      <div class="col">
        <h4>Parking</h4>
        <ul>
          <li>Info Parking</li>
          <li>Buy parking</li>
        </ul>
      </div>
      <div class="col">
        <h4>Transport</h4>
        <ul>
          <li>Info mobility - ZTC</li>
          <li>How to arrive</li>
        </ul>
      </div>
      <div class="col">
        <h4>Shop & Eat</h4>
        <ul>
          <li>Shops and Travel Services</li>
          <li>Bars and Restaurants</li>
        </ul>
      </div>
      <div class="col">
        <h4>Info & Services</h4>
        <ul>
          <li>Fidelity Card</li>
          <li>Departure</li>
          <li>Special assistance</li>
          <li>Vip lounge</li>
          <li>Fast Track</li>
        </ul>
      </div>
      <div class="col">
        <h4>Address</h4>
        <p style="margin-bottom: 10px;color: white;">© 2025 Aeroporto di Napoli. Tutti i diritti riservati.</p>
        <p style="color: white;">Via dell'Aeroporto, 1 - 80144 Napoli, Italia</p>
      </div>
      <div class="col social" style="color: white;">
        <h4>Social</h4>
        <ul>
          <li><a href="#"><i class="pi pi-facebook custom-icon" ></i></a></li>
          <li><a href="#"><i class="pi pi-twitter custom-icon"></i> </a></li>
          <li><a href="#"><i class="pi pi-instagram custom-icon"></i></a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
