/* #region Menu nella toolbar */


.menu {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  background-color: #326ff1;
}

.menu li {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  width: 100%;
  padding: 15px;
  transition: background-color 0.3s;
  color: rgba(255, 255, 255, 0.963);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu li i {
  margin-right: 8px;
  font-size: 1.2em;
}

.menu li:hover {
  background-color: #6ee4e476;
  color: #fff;
  transition: background-color 0.3s;
  transition: color 0.3s;
  transition: transform 0.3s;

}

.menu li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.menu li.active {
  background-color: #35cefc;
  color: #fff;
}

.p-button {
  margin-right: 10px;
}

.menu p {
  margin: 0;
}
/* #endregion Menu */
