/* #region Menu nella toolbar */


.menu {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  background-color: #326ff1;
}

.menu li {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  width: 100%;
  padding: 15px;
  transition: background-color 0.3s;
  color: rgba(255, 255, 255, 0.963);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu li i {
  margin-right: 8px;
  font-size: 1.2em;
}

.menu li:hover {
  background-color: #6ee4e476;
  color: #fff;
  transition: background-color 0.3s;
  transition: color 0.3s;
  transition: transform 0.3s;

}

.menu li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.menu li.active {
  background-color: #35cefc;
  color: #fff;
}

.p-button {
  margin-right: 10px;
}

.menu p {
  margin: 0;
}
/* #endregion Menu */
/* Menu responsive con hamburger */
.hamburger {
  display: none;
  cursor: pointer;
  padding: 10px;
  background: none;
  border: none;
  outline: none;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
/* Stili per dispositivi mobili */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .menu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #326ff1;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .menu.active {
    transform: translateY(0);
  }
}

/* #endregion Menu */
